<nav class="blue-grey lighten-1">
  <div class="nav-wrapper">
    <a href="/dashboard" class="brand-logo center">Pley</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
    <ul class="sidenav" id="mobile-demo">
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/profile/<%=globalUser._id%>">Profile</a>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>

